<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title></title>
    <link rel="stylesheet" type="text/css" href="css/zxf_page.css"/>
    <script src="http://www.jq22.com/jquery/jquery-1.10.2.js"></script>
    <script type="text/javascript" th:src="@{js/zxf_page.js}">
    </script>
</head>
<body>
<!--翻页-->
<div class="zxf_pagediv"></div>
<script type="text/javascript">
    //翻页
    $(".zxf_pagediv").createPage({
        pageNum: 100,
        current: 1,
        backfun: function (e) {
            console.log(e.current);//回调
//            $.ajax({
//                type: 'GET',
//                url: '',
//                data: {
//                    pageNum: e.current
//                }
//            })
        }
    });
</script>
</body>
</html>

