<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <!--<meta name="_csrf" th:content="${_csrf.token}"/>-->
    <!--<meta name="_csrf_header" th:content="${_csrf.headerName}"/>-->
    <title>Title</title>


    <link href="css/normalize.css" rel="stylesheet"/>
    <link href="css/jquery-ui.css" rel="stylesheet"/>
    <link href="css/jquery.idealforms.min.css" rel="stylesheet" media="screen"/>
    <link href="css/register.css" rel="stylesheet"/>

</head>
<body>
<div class="row">

    <div class="eightcol last">

        <!-- Begin Form -->

        <form id="registerForm" method="post">

            <section name="第一步">

                <div><label>用户名:</label><input id="username" name="username" type="text"/></div>
                <div><label>密码:</label><input id="password" name="password" type="password"/></div>
                <!--<div><label>上传头像:</label><input id="file" name="file"  type="file"/></div>-->
            </section>

            <section name="第二步">
                <div><label>电话:</label><input id="phone" name="phone" type="text"/></div>
                <div><label>邮箱:</label><input id="email" name="email" type="text"/></div>
                <div><label>称呼:</label><input id="realName" name="realName" type="text"/></div>
            </section>
            <div>
                <hr/>
            </div>

            <!--<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>-->

            <div>
                <button type="button" id="user_register_btn">确定</button>

                <button type="button" onclick="location.href='login'">返回</button>
            </div>

        </form>

        <!-- End Form -->

    </div>

    <script type="text/javascript" th:src="@{/js/jquery-1.8.2.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery-ui.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery.idealforms.js}"></script>
    <script type="text/javascript" th:src="@{/js/register.js}"></script>

</div>
</body>
</html>